Libraries

In [23]:
import pandas as pd
import os
from datetime import datetime

Data

In [7]:
###### flight api data
# set path
data_directory_name = f'../../Data/FlightAPIData/'
subfolder_name = f'2023-04-26_03-36-24/'
path_name = f'{data_directory_name}{subfolder_name}'

# init data frames
data_frames = []

# get all data ames
for filename in os.listdir(path_name):
    if filename.endswith('.csv'):
        file_path = os.path.join(path_name, filename)
        df = pd.read_csv(file_path)
        data_frames.append(df)

# concat
flight_data = pd.concat(data_frames, ignore_index=True)


###### capital cities data
capital_cities = pd.read_csv('../../Data/capital_cities_and_airports.csv')
iata_codes_list = capital_cities['airport_iata'].tolist()

In [9]:
# check
display(flight_data.shape)
display(flight_data.head())

(25036, 18)

,id,price_amount,price_unit,segment_id,transfer_type,agent_name,duration_minutes,marketing_flight_number,departure_datetime,arrival_datetime,marketing_carrier_name,operating_carrier_name,origin_place_name,origin_place_iata,destination_place_name,destination_place_iata,departure_query,arrival_query
0,"15458-2305221540--32166,-32348,-32301-2-11431-...",644800.0,PRICE_UNIT_MILLI,15458-16292-2305221540-2305221845--32166,TRANSFER_TYPE_PROTECTED_SELF_TRANSFER,Trip.com,125,594,2023-05-22 15:40:00,2023-05-22 18:45:00,Jetstar,Jetstar Asia,Phnom Penh,PNH,Singapore Changi,SIN,PNH,EVN
1,"15458-2305221540--32166,-32348,-32301-2-11431-...",644800.0,PRICE_UNIT_MILLI,16292-11182-2305222110-2305230050--32348,TRANSFER_TYPE_PROTECTED_SELF_TRANSFER,Trip.com,460,355,2023-05-22 21:10:00,2023-05-23 00:50:00,Emirates,Emirates,Singapore Changi,SIN,Dubai,DXB,PNH,EVN
2,"15458-2305221540--32166,-32348,-32301-2-11431-...",644800.0,PRICE_UNIT_MILLI,11182-11431-2305230800-2305231115--32301,TRANSFER_TYPE_PROTECTED_SELF_TRANSFER,Trip.com,195,717,2023-05-23 08:00:00,2023-05-23 11:15:00,flydubai,flydubai,Dubai,DXB,Yerevan,EVN,PNH,EVN
3,"15458-2305221540--32166,-32348-2-11431-2305231115",807600.0,PRICE_UNIT_MILLI,15458-16292-2305221540-2305221845--32166,TRANSFER_TYPE_MANAGED,Expedia,125,594,2023-05-22 15:40:00,2023-05-22 18:45:00,Jetstar,Jetstar Asia,Phnom Penh,PNH,Singapore Changi,SIN,PNH,EVN
4,"15458-2305221540--32166,-32348-2-11431-2305231115",807600.0,PRICE_UNIT_MILLI,16292-11182-2305222110-2305230050--32348,TRANSFER_TYPE_MANAGED,Expedia,460,355,2023-05-22 21:10:00,2023-05-23 00:50:00,Emirates,Emirates,Singapore Changi,SIN,Dubai,DXB,PNH,EVN