Libraries

In [2]:
import pandas as pd
import os
from datetime import datetime

Data

In [3]:
###### flight api data
# set path
data_directory_name = f'../../Data/FlightAPIData/'
subfolder_name = f'2023-05-22-FlightData/'
path_name = f'{data_directory_name}{subfolder_name}'

# init data frames
data_frames = []

# get all data ames
for filename in os.listdir(path_name):
    if filename.endswith('.csv'):
        file_path = os.path.join(path_name, filename)
        df = pd.read_csv(file_path)
        data_frames.append(df)

# concat
flight_data = pd.concat(data_frames, ignore_index=True)


###### capital cities data
capital_cities = pd.read_csv('../../Data/capital_cities_and_airports.csv')
iata_codes_list = capital_cities['airport_iata'].tolist()

In [4]:
# check
display(flight_data.shape)
display(flight_data.head())

(38236, 18)

,id,price_amount,price_unit,segment_id,transfer_type,agent_name,duration_minutes,marketing_flight_number,departure_datetime,arrival_datetime,marketing_carrier_name,operating_carrier_name,origin_place_name,origin_place_iata,destination_place_name,destination_place_iata,departure_query,arrival_query
0,"11431-2305220255--31973,-30943-2-12042-2305221435",449400.0,PRICE_UNIT_MILLI,11431-9692-2305220255-2305220410--31973,TRANSFER_TYPE_PROTECTED_SELF_TRANSFER,Trip.com,135,557,2023-05-22 02:55:00,2023-05-22 04:10:00,Pegasus Airlines,Pegasus Airlines,Yerevan,EVN,Antalya,AYT,EVN,GYD
1,"11431-2305220255--31973,-30943-2-12042-2305221435",449400.0,PRICE_UNIT_MILLI,9692-16096-2305220605-2305220720--31973,TRANSFER_TYPE_PROTECTED_SELF_TRANSFER,Trip.com,75,2029,2023-05-22 06:05:00,2023-05-22 07:20:00,Pegasus Airlines,Pegasus Airlines,Antalya,AYT,Istanbul Sabiha,SAW,EVN,GYD
2,"11431-2305220255--31973,-30943-2-12042-2305221435",449400.0,PRICE_UNIT_MILLI,16096-12042-2305221050-2305221435--30943,TRANSFER_TYPE_PROTECTED_SELF_TRANSFER,Trip.com,165,9104,2023-05-22 10:50:00,2023-05-22 14:35:00,Buta Airways,Buta Airways,Istanbul Sabiha,SAW,Baku Heydar Aliyev International,GYD,EVN,GYD
3,"11431-2305220255--31973,-31734-2-12042-2305221610",323300.0,PRICE_UNIT_MILLI,11431-9692-2305220255-2305220410--31973,TRANSFER_TYPE_PROTECTED_SELF_TRANSFER,Trip.com,135,557,2023-05-22 02:55:00,2023-05-22 04:10:00,Pegasus Airlines,Pegasus Airlines,Yerevan,EVN,Antalya,AYT,EVN,GYD
4,"11431-2305220255--31973,-31734-2-12042-2305221610",323300.0,PRICE_UNIT_MILLI,9692-11389-2305220950-2305221055--31734,TRANSFER_TYPE_PROTECTED_SELF_TRANSFER,Trip.com,65,7021,2023-05-22 09:50:00,2023-05-22 10:55:00,Turkish Airlines,AnadoluJet,Antalya,AYT,Ankara Esenboga,ESB,EVN,GYD

In [5]:
# check unique pairs
check_unique_pairs = flight_data[['departure_query', 'arrival_query']]
check_unique_pairs = check_unique_pairs.drop_duplicates()
check_unique_pairs.shape

(1722, 2)